<p id="notice"><%= notice %></p>

<h2>Preview Bulletin</h2>

<p>
  <strong>Title:</strong>
  <%= @bulletin.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bulletin.description %>
</p>

<p>
  <strong>Post Type:</strong>
  <%= @bulletin.post_type %>
</p>

<p>
  <strong>Created at </strong>
  <%= @bulletin.created_at %>
</p>

<%= link_to 'Edit', edit_bulletin_path(@bulletin) %> |
<%= link_to 'Back', bulletins_path %>
