<p id="notice"><%= notice %></p>

<p>
  <strong>From code:</strong>
  <%= @nh_sale.from_code %>
</p>

<p>
  <strong>From name:</strong>
  <%= @nh_sale.from_name %>
</p>

<p>
  <strong>Sale number:</strong>
  <%= @nh_sale.sale_number %>
</p>

<p>
  <strong>Confirm date:</strong>
  <%= @nh_sale.confirm_date %>
</p>

<p>
  <strong>Delivery number:</strong>
  <%= @nh_sale.delivery_number %>
</p>

<p>
  <strong>To code:</strong>
  <%= @nh_sale.to_code %>
</p>

<p>
  <strong>To name:</strong>
  <%= @nh_sale.to_name %>
</p>


<p>
  <strong>Depart code:</strong>
  <%= @nh_sale.depart_code %>
</p>

<p>
  <strong>Depart name:</strong>
  <%= @nh_sale.depart_name %>
</p>

<p>
  <strong>Supply type:</strong>
  <%= @nh_sale.supply_type %>
</p>

<p>
  <strong>Order no:</strong>
  <%= @nh_sale.order_no %>
</p>

<p>
  <strong>Product code:</strong>
  <%= @nh_sale.product_code %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @nh_sale.product_name %>
</p>

<p>
  <strong>Product size:</strong>
  <%= @nh_sale.product_size %>
</p>

<p>
  <strong>Product tax:</strong>
  <%= @nh_sale.product_tax %>
</p>

<p>
  <strong>Purchase unit price:</strong>
  <%= @nh_sale.purchase_unit_price %>
</p>

<p>
  <strong>Purchase amount:</strong>
  <%= @nh_sale.purchase_amount %>
</p>

<p>
  <strong>Supply price:</strong>
  <%= @nh_sale.supply_price %>
</p>

<p>
  <strong>Purchase tax:</strong>
  <%= @nh_sale.purchase_tax %>
</p>

<p>
  <strong>Purchase price:</strong>
  <%= @nh_sale.purchase_price %>
</p>

<p>
  <strong>Commission:</strong>
  <%= @nh_sale.commission %>
</p>

<p>
  <strong>Commission tax:</strong>
  <%= @nh_sale.commission_tax %>
</p>

<%= link_to 'Edit', edit_nh_sale_path(@nh_sale) %> |
<%= link_to 'Back', nh_sales_path %>
